@import 'mixins';

body {
	@include default_font;
	// background: url('main_bg.jpg') #f4f4f4 repeat;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

.gray_bg {
	background: #555;
}

ul {
	margin: 0px;
	padding: 0px;
	li {
		list-style: none
	}
}

#wrapper {
	min-width:980px;
}
.container {
	@include content_width;
	margin: auto;
}
.container_padding {
	padding-bottom: 100px;
}
.clearfix {
	@include clearfix;
}
.error, .alert {
	@include ma;
	@include p(5px);
	@include content_width;
	@include rad(5px);
	@include shadow(0px 0px 5px #AAA);
	@include error;
}
.success, .notice {
	@include ma;
	@include content_width;
	@include p(5px);
	@include rad(5px);
	@include shadow(0px 0px 5px #AAA);
	@include success;
}

.beautify_params {
	@include beautify_params;
}

.light_text {
	@include light_text;
}

ul.floated {
	@include floated;
}
.tc {
	@include tc;
}