@import 'mixins';

input, select, textarea {
	@include default_font;
}

	input[type="submit"]::moz-inner-focus {
		border: 0;
	}

.popup.special {
	input[type="text"], input[type="email"], input[type="password"], select, textarea {
		@include fb;
	}
	.big {
		input[type="text"], input[type="email"], input[type="password"], select, textarea {
			@include gradient(#CCC, #FFF);
			@include shadow(0px 0px 5px #AAA);
			border: 1px solid #FFF;
			font-size: 16px;
			width: 400px;
			@include p(10px);
			@include rad(5px);
			@include mb(10px);
		}
	}
}