@import 'mixins';
@import 'buttons_links';

@mixin logo_bg {background: url('logo.png') no-repeat;}

header {
	background: #f4f4f4;
	border-bottom: 1px solid #004B81;
	background-color: #CCC !important;
	color: #333 !important;
	width: 100%;
	@include gradient(#1585D5, #105D93);
	a {
		
	}
	ul.nav {
		li {
			@include db;
			@include fl;
			a {
				@include m(25px 10px 0px 10px);
				@include p(5px 7px);
				@include fb;
				@include db;
				@include rad(5px);
				text-transform: uppercase;
			}
			img {
				@include pt(5px)
			}
		}
	}
	a {
		@include ts(1px 1px 05px #000 );
		color: #fff;
		&:hover {
			background: #153B5C;
			@include tdn;		
		}
	}
}

.logo {
	@include logo_bg;
	width: 400px; // image's width can be varied upto 400px (227px is Docs app's width)
	height: 40px;
	@include p(0px !important);
	@include m(10px !important);
	&:hover {
		@include logo_bg;
		@include tdn;		
	}
}